<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
   <style>
*{
  padding: 0%;
  margin: 0%;
}
.navbar{
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  position: fixed;
  margin-bottom: 10px;
}
#logo
{
  margin: 20px;
  height: 60px;
  margin-right: 400px;
}
a{
  font-size: 30px;
  margin: 20px;
color: black;
text-decoration: none;
font-weight: 700;
}
a:hover{
  color:#3ca22c;
  text-decoration: underline;
}
#profile
{
  margin-left: 60px;
  border: none;
  border-radius: 20px; /* Adjust the value to increase or decrease the curve */
  padding: 20px 90px; /* Adjust padding as needed */
  background-color: #3ca22c; /* Green background */
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.content{
  margin-top: 100px;
}
#laundary
{
  width: 100%;
  height: 600px;
  opacity: 0.7;
}
.container2 {
  position: relative;
  display: inline-block;
  width: 100%;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
#order
{
  font-size: 60px;
  border-radius: 20px;
  padding: 20px 80px;
  background-color:#3ca22c;
  color: #ffffff;
}
.container3
{
  padding: 50px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.container4
{
  margin-left: 5%;
  display: flex;
  width: 90%;
  height: 450px;
  border: 2px solid black;
  justify-content: space-between;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.servicebox
{
  height: 100%;
  width: 33%;
  border: 2px solid black;
}
#box1
{
  background-image: url(images/Screenshot\ 2024-03-28\ 001827.png);
  background-size: cover;
}
#box2
{
  background-image: url(images/Screenshot\ 2024-03-28\ 001842.png);
  background-size: cover;
}
#box3
{
  background-image: url(images/Screenshot\ 2024-03-28\ 001856.png);
  background-size: cover;
}
.container5
{
  text-align: center;
}
.container6
{
  margin-top: 100px;
  
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
#banner
{
  margin-top: 100px;
  background-color: #719c6b;
  height: 150px;
  width: 100%;
  font-weight: 700;
  font-family: cursive;
  text-align: center;
  padding-top: 80px;
  font-size: 40px;
}
.container7
{
  background-color: #022d1aeb;
  text-align: right;
}
</style>
</head>
<body>

  <div class="navbar">
    <img src="images\logo.png" id="logo">
    
        <form action="/home" method="get"><a href="/home">Home</a></form>
        <form action="/about" method="get"><a href="/about">About</a></form>
        <form action="/service" method="get"><a href="/service">Services</a></form>
        <form action="/contact" method="get"><a href="/contact">Contact</a></form>

        <form action="/profile" method="get"><button id="profile"  >
          profile
        </button></form>
        <form action="/ls" method="get"><button id="profile" >Login/Signup</button></form>
     
        
</div>
<div class="content">

  
  <div class="container2">
  <img src="images/laundary.jpg" id="laundary">
  <div class="text-overlay">
    <button id="order" >About US</button>
  </div>
  </div>
  
<div class="container3">
<p>About Us</p>
  </div>

  <div class="container4">
    We are WashHub, India's number 1 online laundry service- bringing you effective
    and affordable laundry solutions, right at your doorstep. We deal in all types of cloth cleansing and sterilisation, 
   and aim to expand further in near future.<br><br>
 WashHub was founded in 2024 by 4 students of IIIT- Allahabad, and has been growing steadily since then. Based in Delhi and Allahabad, we provide services to over 100 cities in India through our nationwide setup of chains.
  </div>

  <div id="banner">
    INDIA'S NO. 1 LAUNDARY AND DRY-CLEANING SERVICE
  </div>

  <div class="container6">
    <p>Why WashHub</p>
  </div>
  <div class="container5">
    <img src="images/whywashhub.png" >
  </div>

  <div class="container7">
    <img src="images/Screenshot 2024-03-28 165716.png">
  </div>
</div>

</body>
</html>
